# **Antimicrobial Data Wrangling**

## Importing Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
#import the csv file in "url" as a pandas DataFrame
#object assigned to the variable "df"
df = pd.read_csv('IsolateData (2).csv')

C:\Users\peter\AppData\Local\Temp\ipykernel_32924\3711796978.py:3: DtypeWarning: Columns (15,24,26,40,42,44,46,52,54,68,70,76,78,80,82,88,90,116,118,124,126) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('IsolateData (2).csv')

In [3]:
df.head()

,Specimen ID,NCBI Accession Number,WGS ID,AST Approved,WGS Approved,Genus,Species,Serotype,Data Year,Region Name,...,TEL Concl,TEL ConclPred,TET Equiv,TET Rslt,TET Concl,TET ConclPred,TIO Equiv,TIO Rslt,TIO Concl,TIO ConclPred
0,AM39779,NaN,NaN,yes,no,Salmonella,enterica,Typhi,2008,Region 6,...,NaN,NaN,>,32,R,NaN,=,0.5,S,NaN
1,AM42221,NaN,NaN,yes,no,Salmonella,enterica,Typhi,2009,Region 9,...,NaN,NaN,<=,4,S,NaN,=,1.0,S,NaN
2,AM40656,NaN,NaN,yes,no,Salmonella,enterica,Typhi,2009,Region 2,...,NaN,NaN,>,32,R,NaN,=,1.0,S,NaN
3,AM08436,NaN,NaN,yes,no,Salmonella,enterica,Typhi,2000,Region 2,...,NaN,NaN,<=,4,S,NaN,<=,0.5,S,NaN
4,AM43575,NaN,NaN,yes,no,Salmonella,enterica,Typhi,2010,Region 10,...,NaN,NaN,<=,4,S,NaN,=,0.5,S,NaN

In [4]:
df.columns

Index(['Specimen ID', 'NCBI Accession Number', 'WGS ID', 'AST Approved',
       'WGS Approved', 'Genus', 'Species', 'Serotype', 'Data Year',
       'Region Name',
       ...
       'TEL Concl', 'TEL ConclPred', 'TET Equiv', 'TET Rslt', 'TET Concl',
       'TET ConclPred', 'TIO Equiv', 'TIO Rslt', 'TIO Concl', 'TIO ConclPred'],
      dtype='object', length=148)

In [40]:
#Find different values in the TIO Concl column and their counts and return them
df['TIO Concl'].value_counts()

TIO Concl
S    5290
Name: count, dtype: int64

### Statistical Analysis of TIO Rslt Column

In [9]:
Result=df['TIO Rslt']

In [10]:
Result.to_numpy()

array([0.5, 1. , 1. , ..., nan, nan, nan], shape=(7339,))

In [11]:
Result.min()

np.float64(0.12)

In [12]:
Result.max()

np.float64(2.0)

In [13]:
Result.median()

np.float64(0.5)

In [14]:
Result.mean()

np.float64(0.5444347826086956)

In [15]:
Result.std()

np.float64(0.19939280109467256)

### Statistical Analysis of TET Rslt

In [16]:
Tet=df['TET Rslt']

In [17]:
Tet.to_numpy()

array([32,  4, 32, ...,  4,  4,  4], shape=(7339,))

In [18]:
Tet.min()

np.int64(4)

In [19]:
Tet.max()

np.int64(32)

In [20]:
Tet.median()

np.float64(4.0)

In [21]:
Tet.mean()

np.float64(5.5119226052595724)

In [22]:
Tet.std()

np.float64(5.959339225801971)